@charset "UTF-8";

/* Import de letra custom de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

/* Custom properties para medidas, tamaños de fuente y colores */
:root {
    /* Escala modular para tamaños de fuente */
    --font-size-1: 1rem;
    --font-size-2: 1.25rem;
    --font-size-3: 2rem;
    --font-size-4: 3rem;
    --font-size-5: 6rem;
    /* Escala modular para espaciado */
    --spacing-1: 0.5rem;
    --spacing-2: 1rem;
    --spacing-3: 1.5rem;
    --spacing-4: 2rem;
    --spacing-5: 3rem;
    /* Paleta de colores */
    --color-primary: #d1b7ff;
    --color-secondary: #EE7344;
    --color-other: #E2E3E4;
    --color-background: #FFFFF7;
    --color-text: #0E0D0D;
    --color-border: var(--color-text);
}

/* Darkmode */

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #9383af;
        --color-secondary: #cc653d;
        --color-other: #7a7a7a;
        --color-background:#2c264f;
        --color-text: #FFFFF7;
        --color-border: var(--color-text);
    }
}

/* Reset básico para quitar márgenes y paddings predeterminados */

body,
h1,
h2,
h3,
p,
ul,
li,
a,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 90vw;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    background-color: var(--color-background);
    color: var(--color-text);
    

    border-right: solid 2px var(--color-text);
    border-left: solid 2px var(--color-text);
}

/* Otras clases */

.bg01 {
    background-color: var(--color-secondary);
}

.bg02 {
    background-color: var(--color-background);
}

.bg03 {
    background-color: var(--color-primary);
}
/* Estilos para el header y navegación */

.header {
    border-bottom: solid 2px var(--color-text);
    padding: var(--spacing-3) 8vw;
    position: fixed;
    background-color: var(--color-background);
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav > div {
    display: flex;
    align-items: center;
    gap: var(--spacing-2)
}

.nav {
    display: none;
}

.nav__item {
    display: inline;
    margin-right: var(--spacing-4);
}

.nav__link {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 200;
    transition: font-weight 0.3s;

    text-transform: uppercase;

    &:hover {
        font-weight: 600;
    }
}

.nav__link:not(:first-child) {
    font-size: var(--font-size-3);
    font-weight: 700;
}

.menu-mobile {
    background-color: var(--color-primary);
    border: 2px solid var(--color-text);
    box-shadow: 4px -4px 0 0 var(--color-text);

    margin-left: var(--spacing-1);

    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0px 0px 0 0 var(--color-text); 

        transition: box-shadow 0.3s ease;
    }
}

@media (min-width: 1024px) {
    /* Desaparece el menú desplegable y aparece la barra de navegación */
    .menu-mobile { 
        display: none;
    }

    .nav {
        display: flex;
    }
}


/* Botones */

button {
    font-size: inherit;
    padding: 0.5rem 2.5rem;
    border: 2px solid var(--color-text);
    box-shadow: 4px -4px 0 0 var(--color-text);

    transition: box-shadow 0.3s ease;

    a {
        text-decoration: none;
        color: inherit;
    }

    &:hover {
        box-shadow: 0px 0px 0 0 var(--color-text); 

        transition: box-shadow 0.3s ease;
    }
}

/* Estilos para la sección hero */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--color-primary);
    padding: var(--spacing-4);
    height: 70vh;
    border-bottom: 2px solid var(--color-text);
    margin-top: 100px;
}
  
.hero__title {
    font-size: 3rem;
    font-weight: 400;
}

.hero__subtitle {
    font-size: var(--font-size-2);
    margin-bottom: 0px;
    font-weight: 200;
}

.slider-text { /* Animación */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;

    h1 {
        padding-right: 0.4em;
    }
}

.slider-content { /* Tengo pendiente adaptar la animación para que sea responsive */
    overflow: hidden;
  
    ul, li {
        list-style: none;
    }

    ul {
       width: 400px;
       height: 130px;
       position: relative;
       animation: slide 7s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    }

    li {
        position: absolute;
        height: 70px;
        top: 100%;
        line-height: 125px;
        font-size: 3rem;
        color: var(--color-background);

        &:nth-child(2) {
            top: 300%;
        }

        &:last-child {
            top: 500%
        }
    }
}

@media (min-width: 768px) {

    .hero__subtitle {
        font-size: var(--font-size-3);
    }

    .hero__title {
        font-size: 5rem;
    }

    .slider-content { 
    
        li {
            font-size: 5rem;
        }
    }
}

@media (min-width: 1216px) {
    .slider-text { 
    
        flex-direction: row;
        align-items: center;

    } 
}

@media (min-width: 1408px) {
    .hero__title {
        font-size: var(--font-size-5);
    }

    .slider-content { 
    
        li {
            font-size: var(--font-size-5);
        }
    }
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }

    15%, 30% {
        transform: translateY(-100%);
    }

    
    45%, 60% {
        transform: translateY(-300%);
    }

    75%, 90% {
        transform: translateY(-500%);
    }

    100% {
        transform: translateY(-700%);
    }
}

/* Estilos para las secciones */

.wrap {
    margin: 0 auto;
    padding: var(--spacing-5);
}

@media(min-width: 1408px) {
    .wrap {
        padding: var(--spacing-5) 10vw;
    }
}

.products__title,
.features__title,
.pricing__title, 
.testimonials__title {
    font-size: var(--font-size-3);
    margin-bottom: var(--spacing-4);
    text-align: center;
    padding:  var(--spacing-2) 0;
}

/* 1. PRODUCTOS */

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-5);  
}

.img-wrap {
    position: relative;
    border: 2px solid var(--color-text);
    aspect-ratio: 1/1;
    overflow: hidden;
}

.product__image {
    width:100%;
    height: auto;
    
    object-fit: cover;
    object-position: center;
}

.arrow {
    position: absolute;
    top: var(--spacing-2);
    right: var(--spacing-2);

    background-color: var(--color-background);
    border: 2px solid var(--color-text);

    transform: scale(1);

    transition: all 0.4s ease;

        &:hover {
            transform: scale(1.2);
            background-color: #EE7344;
        }
}

.product__title {
    padding-top: var(--spacing-2);
    font-weight: 600;
}

.product__description {
    padding-top: var(--spacing-1);
    font-weight: 200;
}

/* 2. CARACTERÍSTICAS */

.features.container {
    display: flex;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

    gap: var(--spacing-5);
}

.feature {
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: var(--spacing-4);

    &:nth-child(2) {
        padding-top: var(--spacing-5);
    }

    &:nth-child(4) {
        padding-top: var(--spacing-5);
    }
}

.feature svg { /* Pendiente de configurar una animación diferente por cada SVG */
    transition: all 0.4s ease-in-out;

    &:hover {
        transform: rotate(60deg) scale(1.2);
        transition: all 0.4s ease-in-out;
    }
}

.feature__description {
    padding-top: var(--spacing-2);
    font-weight: 200;
}



/* 3. PRECIOS */

.price-cards {
    height: 150vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    gap: var(--spacing-2);
}

.price-card {
    width: 100%;
    height: 80%;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color-text);
    margin: 0 0;
    display: flex;
    align-items: center;
    transition: .6s cubic-bezier(0.28, -0.03, 0, 0.99);
}

.price-card > .price-info-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.price-card > .price-info-wrap > .num {
    width: 0 3%;
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-background);

    -webkit-text-stroke-width: 2px; /* Ancho del borde */
    -webkit-text-stroke-color: var(--color-text); /* Color del borde */

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3.4vw;
}

.price-card > .price-info-wrap > .price-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 80%;
    height: 60%;
    gap: var(--spacing-3);


    .price {
        width: 40%;
        text-align: center;
        border: 2px solid var(--color-text);
        border-radius: 20px;
    }

    button {
        width: 90%;
        align-self: flex-start;
        margin-top: var(--spacing-2);
    }
}

input[type="radio"] {
    display: none; /* Hago que el círculo del radio button no se vea */
}

input[type="radio"]:checked + label.price-card {
    width: 100%;
}

.price-card[for="c1"] {
    background-color: var(--color-secondary);
}

.price-card[for="c2"] {
    background-color: var(--color-primary);
}

.price-card[for="c3"] {
    background-color: var(--color-other);
}

@media (min-width: 768px) {
    .price-cards {
        height: 120vh;
    }
    .price-card {
        height: 40%;
    }

    .price-card > .price-info-wrap > .num {
        font-size: 5rem;
    }

    .price-card > .price-info-wrap > .price-info {
        .price {
            width: 25%;
        }
    
        button {
            width: 15rem;
            align-self: flex-end;
            margin-top: 0;
        }
    }
}

 /* En desktop hay interacción y transición: Consigo ese efecto de seleccionar 
    las tarjetas y que se desplieguen gracias a un input label del tipo radio button */

@media (min-width: 1024px) {
    .price-cards {
        height: 300px;
        flex-direction: row;
        gap: 0;
    }

    .price-card {
        width: 11vw;
        height: 35vh;
        margin: 0 var(--spacing-1);
    }

    .price-card > .price-info-wrap {
        display: flex;
        flex-wrap: nowrap;
    }
    
    .price-card > .price-info-wrap > .price-info {
        width: 70%;
        height: 200px;
        gap: var(--spacing-1);

        opacity: 0;
        transform: translateY(100%);
        transition-delay: 0.3s;
        transition: transform 0.3s ease, opacity 0.3s ease;
    
        .price {
            width: 28%;
        }
    }
    
    input:checked + label { 
        width: 70%;
    }
    
    input:checked + label .price-info { /* Perdón por poner !important pero si no no me funcionaba :( */
        opacity: 1 !important;
        transform: translateY(0) !important;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
}

/* 4. TESTIMONIOS */

.testimonials {
    background-color: var(--color-primary);
    border-top: 2px solid var(--color-text);
    padding: 0 var(--spacing-5);
    padding-bottom: var(--spacing-5);
}

.testimonials-carousel {
    overflow: hidden;
    position: relative;
}

.testimonials-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: var(--spacing-2) 0;
}

.testimonial {
    background-color: var(--color-background);
    border: 2px solid var(--color-text);
    padding: var(--spacing-3);
    box-shadow: 0 0 0 var(--color-text);
    text-align: left;
    margin-right: var(--spacing-3);
    flex: 0 0 auto;
    max-width: 400px;
    transition: transform 0.3s;
}

.testimonial:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 0 var(--color-text);
    transition: box-shadow 0.2s ease;
}

.testimonial__image {
    border: 2px solid var(--color-text);
    border-radius: 80px;
    margin-bottom: var(--spacing-3);
}

.testimonial__text {
    font-weight: 200;
}

.testimonial__author {
   font-weight: 500;
}

/* 5. CONTACTO */

.contact {
    background-color: var(--color-secondary);
    border-top: 2px solid var(--color-text);
    padding: var(--spacing-5);
    
    display: flex;

    .container {
        width: 100%;
    }
}

.img-wp {
    display: none; 
}

@media (min-width: 1024px) {
    .contact {
        max-height: 65vh;
        display: flex;
        flex-wrap: nowrap; 
        
        gap: var(--spacing-5);
        
        .container {
            flex: 1;
            width: 60%;
            align-self: center;
        }

        .img-wp {
            max-height: 1120px;
            flex: 1;
            display: block;
            overflow: hidden;
            aspect-ratio: 1/1;
           
            border: 2px solid var(--color-text);

            img {
                object-fit: cover;
                object-position: bottom center;
            }
        }
    }
   
}

.contact__title {
    font-size: var(--font-size-3);
    margin-bottom: var(--spacing-1);
}

.contact__description {
    font-size: var(--font-size-2);
    font-weight: 200;
    margin-bottom: var(--spacing-2);
}

.contact-form {
    width: 100%;
    margin: 0 auto;
}

.contact-form__label {
    font-size: var(--font-size-1);
    display: block;
    margin-bottom: var(--spacing-1);
}

.contact-form__input,
.contact-form__textarea {
  width: 100%;
  padding: var(--spacing-2);
  margin-bottom: var(--spacing-3);
  border: 2px solid var(--color-border);
}

.contact-form__textarea {
  resize: vertical;
}

/* FOOTER */

.footer {
    border-top: 2px solid var(--color-text);
    padding: var(--spacing-4);
    text-align: center;
}

.footer__link {
    color: inherit;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}



